<%- include('_header.ejs') -%>
<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">Create</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="myform form ">
        <form action="/createuser" method="POST">
          <div class="form-group">
            <input type="text" name="key" class="form-control my-input" id="titleInput" placeholder="Key">
          </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control my-input" id="authorInput" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control my-input" id="emailInput" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" name="phone" class="form-control my-input" id="emailInput" placeholder="Phone">
          </div>
          <div class="form-group">
            <input type="text" name="words" class="form-control my-input" id="emailInput" placeholder="Words">
          </div>
          <div class= "mx-auto text-center">
            <button type="submit" class="btn btn-primary">Create User</button>
            <a href="/main"><button type="button" class="btn btn-secondary">Cancel</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('_footer.ejs') -%>